#include <windows.h>
#include "Joystick1.h"

//VISCAJoyIcon ICON VISCAJoy.ico

VISCAJoyMenu MENU
BEGIN
 POPUP "&File"
   BEGIN
     MENUITEM "E&xit...", MENU_EXIT
   END
 POPUP "&Help"
   BEGIN
     MENUITEM "&About VISCAJoy...", MENU_ABOUT
   END
END

AboutBox DIALOG 20, 10, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About VISCAJoy"
FONT 8, "Helv"
BEGIN
  ICON  "VISCAJoyIcon",     -1,  6,  6, 40, 40
  LTEXT "VISCAJoy Program V0.1", -1, 52,  6, 86, 10
  LTEXT "(c) 2012 NFA",     -1, 52, 20, 86, 10
  DEFPUSHBUTTON "OK",    IDOK, 44, 56, 50, 14, WS_GROUP
END

// #if defined(__NT__)
// CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"
// #endif

/* Version information appears on a tab when  */
/* file properties is selcted in Explorer.    */
/* Explicit \0 in each string for WIN16 exe's */
/* For documentation of the fields, try:      */
/* http://tinyurl.com/z7377                   */
VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK  0x3fL
#if defined(DEBUG) || defined(_DEBUG)
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
FILEOS         0x4L
FILETYPE       0x1L
FILESUBTYPE    0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "Comments",         "NFA 2012\0"
      VALUE "CompanyName",      "NFA\0"
      VALUE "FileDescription",  "VISCAJoy Windows Sample\0"
      VALUE "FileVersion",      "1, 0, 0, 0\0"
      VALUE "InternalName",     "VISCAJoy\0"
      VALUE "LegalCopyright",   "NFA Public License 1.0\0"
      VALUE "OriginalFilename", "VISCAJoy.exe\0"
      VALUE "ProductName",      "NFA Software Division\0"
      VALUE "ProductVersion",   "1, 0, 0, 0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END

